HOST=0.0.0.0
PORT=3001
HARBOURMESH_DATA_DIR=./data
HARBOURMESH_API_KEYS=
HARBOURMESH_API_KEY_SHA256S=
HARBOURMESH_WRITE_API_KEYS=
HARBOURMESH_WRITE_API_KEY_SHA256S=
HARBOURMESH_REVIEW_API_KEYS=
HARBOURMESH_REVIEW_API_KEY_SHA256S=
HARBOURMESH_REVIEW_OPERATOR_KEYS=
HARBOURMESH_REVIEW_OPERATOR_KEY_SHA256S=
HARBOURMESH_SESSION_SIGNING_KEY=
HARBOURMESH_SESSION_SIGNING_KEY_ID=
HARBOURMESH_SESSION_TTL_SECONDS=900
HARBOURMESH_ACCOUNT_SESSION_SIGNING_KEY=
HARBOURMESH_ACCOUNT_SESSION_SIGNING_KEY_ID=
HARBOURMESH_ACCOUNT_SESSION_TTL_SECONDS=3600
HARBOURMESH_ACCOUNT_REGISTRATION_INVITE_CODE=
HARBOURMESH_DATABASE_URL=
HARBOURMESH_RUN_MIGRATIONS=false
