HOST=0.0.0.0
PORT=3001
HARBOURMESH_DATA_DIR=./data
HARBOURMESH_API_KEYS=
HARBOURMESH_API_KEY_SHA256S=
HARBOURMESH_WRITE_API_KEYS=
HARBOURMESH_WRITE_API_KEY_SHA256S=
HARBOURMESH_REVIEW_API_KEYS=
HARBOURMESH_REVIEW_API_KEY_SHA256S=
HARBOURMESH_REVIEW_OPERATOR_KEYS=
HARBOURMESH_REVIEW_OPERATOR_KEY_SHA256S=
HARBOURMESH_DATABASE_URL=
HARBOURMESH_RUN_MIGRATIONS=false
